<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">



       <bean  id="helloService" class="com.framework.aop.HelloServiceImpl"/>

       <bean  id="helloAspect" class="com.framework.aop.HelloAspect"/>



       <aop:config>
              <!--切入点-->
              <aop:pointcut id="pointCut" expression="execution(* com.framework..*.*(..))"/>
              <!--切面-->
              <aop:aspect ref="helloAspect">
                     <aop:before method="beforeAdvice" pointcut-ref="pointCut"></aop:before>
                     <aop:after method="afterFinallyAdvice" pointcut-ref="pointCut"></aop:after>
              </aop:aspect>
       </aop:config>

</beans>